html{
	
}
body{
	margin:0;
	padding: 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	background-color: #646464;
	color: #464343;
}
.container-fluid{
	padding: 4px 24px;
}
#hometxt{
	margin-top: 0;
	background-color: #333333;
	color: #fff;
	padding-bottom: 100px;
}
#main{
	margin-top: 0;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 100px;
}
#searchresults{
	background-color: #fff;
	color: #333333;
	padding-bottom: 12px;
	display: none;
}
@media (min-width: 769px) {
	#info-img img{
		width: 100px;
	}
	#info-waarneming{
		text-align: right;
	}
}

#info-waarneming strong{
	font-size: 24px;
}
.warning{
	color: #EC0000;
}
.smaller{
	font-size: 16px;
}
.evensmaller{
	font-size: 13px;
	line-height: 1.3;
}
h1{
	margin-top: 0px;
	margin-bottom: 4px;
	font-size: 40px;
	font-family: 'Times New Roman', serif;
}
h2{
	margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 28px;
	font-family: 'Times New Roman', serif;
}
h3{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
}
h4{
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 6px;
	font-size: 20px;
	font-family: 'Times New Roman', serif;
}
h5{
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 6px;
	font-size: 18px;
	font-style: italic;
	font-family: 'Times New Roman', serif;
}
p{
	margin-top: 12px;
	margin-bottom: 6px;
}
a{
	color: #ac2336;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #ac2336;
}
#map{
	height: 60vh;
	width: 100%;
	background-color: #e6e6e6;
	margin-top: 0;
}
#footer{
	background-color: #646464;
	margin-top: 12px;
	padding-top: 32px;
	padding-bottom: 40px;
	color: #e9e9e9;
}
img{
	width: 100%;
	margin-bottom: 0px;
	margin-top: 8px;
}
.input-group{
	margin-top: 5px;
	margin-bottom: 12px;
}
.btn-primary{
	background-color: #EC0000;
	font-weight: bold;
	border-width: 0;
	margin-top: 12px;
	margin-bottom: 8px;
	padding-bottom: 10px;
	float: right;
}


